@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;padding: 0;text-transform: capitalize;
    box-sizing: border-box;transition: all.2s ease-out;
    font-family: 'Source Sans Pro', sans-serif;text-decoration: none;

}

:root {
    --violet:#6c5ce7;
    --pink:#FC427B;
    --gradient:linear-gradient(90deg, var(--violet), var(--pink));
}

html {
    overflow-x: hidden;
}
body {
    background: var(--gradient);
}


.container {
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
.container section {
    width: 700px;
    margin: 5px;
    
    color: #fff;
}
.container section details summary {
    padding: 15px;
    background:#b421a1 ;
    position: relative;
    border: .1rem solid rgb(255, 255, 255);
    list-style: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}
.container section details p {
     font-size: 15px;
     padding: 10px;
     color: rgb(71, 71, 71);
     background: #e6ffff;
     font-weight: 600;
}
.container section details summary::after {

    content:"+";
    position: absolute;
    top: 10px; right: 15px;
    font-size: 30px;color: #fff;
    transition: .2s linear;
}
.container section details[open] summary::after {
    transform: rotate(136deg);
}
.container section details[open] summary {
     background:#881579 ;
}